@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utitlities */
@layer utilities {
  .help-popup {
    position: fixed;

    bottom: 8px;
    right: 8px;
    z-index: 10000 !important;
  }
  .help-popup-button {
    position: fixed;
    float: right;
    bottom: 16px;
    right: 16px;
    z-index: 10000 !important;
  }
}

.font-poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.font-poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.font-poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.font-poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.circular-progress-indicator {
  stroke: var(--indicator-color);
}

.dark .circular-progress-indicator {
  stroke: var(--dark-indicator-color);
}

#datepickerscheduledscrape {
  background-color: rgb(228 228 231);
}

.dark #datepickerscheduledscrape {
  background-color: rgb(63 63 70);
}