name: lint-build-test-deploy

on:
  pull_request:
    branches: [master, development]
  push:
    branches: [master, development]

jobs:
  lint-build-test-deploy:
    runs-on: ubuntu-latest

    env:
        NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
        NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY: ${{ secrets.SUPABASE_SRV_KEY }}

    steps:
      - name: Code Checkout
        uses: actions/checkout@v2

      - name: Change to repository root
        run: cd $GITHUB_WORKSPACE
        
      - name: Print new build number
        run: echo "Build number is $BUILD_NUMBER"

      - name: Install dependencies
        run:  |
          cd wee && npm install
          
      - name: Lint
        run: |
          cd wee
          npx nx lint webscraper
          npx nx lint frontend
          echo "================== lint complete =================="
        #bash ${GITHUB_WORKSPACE}/.github/workflows/scripts/build.sh
        #continue-on-error: true

      - name: Build
        run: |
          cd wee
          npx nx build webscraper
          npx nx build frontend
          echo "================== build complete =================="
          bash ${GITHUB_WORKSPACE}/.github/workflows/scripts/lint.sh
          
        #continue-on-error: true

      - name: Test
        run: |
          cd wee    
          npx nx test webscraper
          npx nx test frontend
          echo "================== test complete =================="
        #bash ${GITHUB_WORKSPACE}/.github/workflows/scripts/test.sh
        #continue-on-error: true

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Deploy
        run: |
          echo "================== test complete =================="
        #bash ${GITHUB_WORKSPACE}/.github/workflows/scripts/deploy.sh
        #continue-on-error: true
